<div class="container-fluid" style="padding-top: 1rem; padding-bottom: 1rem;">
  <div class="row">

    <!-- Feature Cards -->
    <div class="col-md-8 test">
      <div class="row">
        <div class="col-md-4">
          <div class="card featureCard">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card featureCard">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card featureCard">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Author Card -->
    <div class="col-md-4 test">
      <div class="card bioCard" style="width: 100%">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">About Casey</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <hr>
        </div>
        <div class="row align-items-end test">
          <div class="col-lg-4" >
            <a href="#" class="btn btn-primary">Donate</a>
          </div>
          <div class="col-lg-8 ml-auto ">
            <p>Social Media Links</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
