<div  id="header" class="container-fluid">
  <div class="row">
    <div class="col-12" style="padding-top: 3.8rem;"></div>
  </div>
  <div class="row">
    <div class="col-md-12 test">
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a style="background:none;" href="#"><img src="https://firebasestorage.googleapis.com/v0/b/casey-space.appspot.com/o/public%2FSCSW-lg-h-logo.png?alt=media&token=65659de9-91cc-4e95-8531-e5b5f2964802" alt=""></a>
        <!-- <a class="navbar-brand" href="#">She Can • She Will</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLifestyle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Lifestyle
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownLifestyle">
                <a class="dropdown-item" href="#">Recipes</a>
                <a class="dropdown-item" href="#">Living</a>
                <a class="dropdown-item" href="#">Art</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPain" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pain
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownPain">
                <a class="dropdown-item" href="#">Solutions</a>
                <a class="dropdown-item" href="#">Reflections</a>
                <a class="dropdown-item" href="#">Calander</a>
                <a class="dropdown-item" href="#">Community</a>
              </div>
            </li>
            <li>
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
              </form>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
